*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    background-color:darkgray;
}

header{

    padding: 50px;
    background-color:rgb(41, 39, 39);
    text-align: center;
    color: white;

}

section{
    
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;
    
}


.buttons1{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 4px 4px 60px rgb(0 0 0 / 5%);
}

.buttons1:hover{
    border-color: rgb(79, 109, 110);
    background-color: rgb(9, 91, 112);
    color: black;
    cursor: pointer;
    box-shadow: 0px 1px 1px rgb(92, 125, 126);
}

.content .registros{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
    
    margin-top: 5px;
}



.content .registros ul{
    list-style: none;
    padding: 0;
    width: 95%;
    margin-top: 5px;
}